/* CSS for Block charts and items*/

.blockChart {
  display: flex;
  flex-wrap: wrap;
  border: 1em solid transparent;
  border-width: 0 0.125em 0.125em 0;
}

.blockItem {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  border: 1em solid transparent;
  border-width: 0.125em 0 0 0.125em;
  background-clip: content-box;
  height: 1em;
  width: 1em;
}
