/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base */
html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2 {
  margin: 1rem;
  max-width: 70%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

/* application */

.crema {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.main-nav {
  flex: 0 0 30%;
  background: #ccc;
}

.main-nav li {
  margin: 1rem 4rem;
}

.example {
  flex: 1 1 auto;
  background: #fff;
  overflow: auto;
}

.chartWrapper {
  font-size: 1.5rem;
  margin: 1rem;
  max-width: 70%;
}
